.inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  /* from 100 to 900 */
  font-style: normal;
}

.fira-code {
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  /* from 300 to 700 */
  font-style: normal;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
