@view-transition {
  navigation: auto;
}

:root {
  --color-background: #FFEFDC;
  --color-background-panel: #FCD2A5;
  --color-text: #5C5874;
  --color-primary: #9A7186;

  --color-faded-1: #887D97;
  --color-faded-2: #C1A9B8;
  --color-blue: #8FB7B7;
  --color-red: #FF4278;
  --color-yellow: #FFd2A8;
  --color-orange: #FF8E61;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overscroll-behavior: contain;
  margin: 32px;
  color: var(--color-text);
}

body {
  background-color: var(--color-background);
  border: solid 3px var(--color-text);
  border-radius: 3px;
  padding: 32px;
  gap: 32px;
  min-height: calc(100vh - 64px);
  box-sizing: border-box; 
  overflow: hidden;
  overflow-x: scroll;
}

code {
  font-family: "Fira Code", serif;
}

body {
  font-family: "Inter", serif;
  line-height: 1.6;
  color: black;

  display: flex;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 300px;
}

header img {
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
}

header a {
  text-decoration: none;
}

header h1 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: var(--color-primary);
  font-family: "Nunito", serif;
}

nav {
  background-color: var(--color-background-panel);
  border-radius: 8px;
  flex-grow: 1;
}

nav ul {
  list-style: none;
}

nav ul li {
  font-weight: 700;
  color: var(--color-text);
}

nav ul li a {
  font-weight: 500;
  text-decoration: none;
  color: var(--color-text);
  position: relative;
}

nav ul li a:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 1rem;
  background-color: var(--color-text);
  opacity: 0;
  position: absolute;
  left: -8px;
  top: 2px;
  transition: opacity linear 0.2s;
  border-radius: 2px;
}

nav ul li a:hover:before {
  opacity: 1;
}

nav ul li a.active:before {
  opacity: 1;
}

main {
  flex: 6;
}

article {
  padding-top: 64px;
}

article h1 {
  font-size: 64px;
  color: var(--color-text);
  font-family: "Nunito", serif;
  border-bottom: solid 1px var(--color-text);
  margin: 0px;
}

article h2 {
  font-size: 32px;
  color: var(--color-text);
  font-family: "Nunito", serif;
  margin: 0px;
}

.logo-hover-img {
  display: none;
}

.logo:hover .logo-unhover-img {
  display: none;
}

.logo:hover .logo-hover-img {
  display: inline-block;
}