---
layout: base.njk
---

<section class="guide-content">
  <header class="guide-header">
    <h1 class="guide-title">{{ title }}</h1>
  </header>

  {{ content | safe }}
</section>

<footer class="guide-footer">
  <p>
    Created on: <em>{{ date.toDateString() }}</em>
  </p>

  <p>By: 
  {% for author in authors %}
    <em>{{ author }}</em>
  {% endfor %}
  </p>
</footer>