---
layout: base.njk
---

<h1>{{ title }}</h1>

{{ content | safe }}

<footer class="guide-footer">
  <p></p>

  <p>By: 
  {% for author in authors %}
      <em>{{ author }}</em>
    {% endfor %}
  </p>
</footer>